@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'colors';
body {
  font-family: 'Roboto Slab', serif;
  background-color: $g-root__color--primary--02b;
  height: 100vh;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}
