@import 'colors';

:host {
  display: block;
  font-size: 1rem;
}

.collection-container {
  padding: 2em;
}

.collection {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  &__title {
    color: $g-root__color--primary--01d;
  }
}
